[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock
	ignore = dirty
[submodule "HoloEverywhere"]
	path = HoloEverywhere
	url = https://github.com/Prototik/HoloEverywhere
	ignore = dirty
[submodule "robospice"]
	path = robospice
	url = https://github.com/octo-online/robospice
	ignore = dirty
[submodule "Crouton"]
	path = Crouton
	url = https://github.com/keyboardsurfer/Crouton
	ignore = dirty
